.chat-container {
    max-width: 400px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.messages {
    height: 530px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message-list {
    padding: 0;
    list-style: none;
}

.message-list li {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message-list .user {
    background-color: #b7e6f5;
    text-align: right;
    margin-left: auto;
}

.user {
    max-width: fit-content;
}

.bot {
    background-color: antiquewhite;
    text-align: left;
}

.input-container {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 8px;
}

.input-container input {
    flex-grow: 1;
    padding: 5px;
}

.input-container button {
    padding: 5px 10px;
}

input[type="text"] {
    flex-grow: 1;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin-right: 8px;
}

button {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #ebeae6;
    border: 1px solid #7A9BBE;
    color: #000000;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d3ffd3;
}

.message-time {
    font-size: 12px;
    color: #888;
}

.bot-messages div {
    margin-bottom: 4px;
}

.cart-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 999;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
}

h3 {
    text-align: center;
}

.commands-list {
    position: absolute;
    width: 30%;
    height: auto;
    margin: 0px 30px 30px 30px;
    text-align: left;
    background-color: #d3ffd3;
}

.commandes-dispo {
    padding: 0;
    margin: 30px;
    list-style: none;
}

.commandes-dispo li {
    padding-bottom: 10px;
}

.chat-container {
    width: 70%;
}