@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

.chat-container {
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3%;
    background-color: beige;
    font-family: "Open Sans";
}

.messages {
    position: relative;
    height: 520px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8b6c42;
    border-radius: 10px;
  }

.message-list {
    position: relative;
    padding: 0;
    list-style: none;
}

.user {
    padding: 3px;
    max-width: fit-content;
    margin: 5px 5px 5px auto;
    color: white;
    background-color: #8b6c42;
    border-radius: 5px;
    font-size: 16px;
    text-align: end;
}

.bot {
    margin: 5px;
    text-align: left;
}

.input-container {
    display: flex;
    border-top: 1px solid #ffffccca;
    padding: 5px;
}

.input-container input {
    flex-grow: 1;
    padding: 5px;
    border-color: #8b6c42;
}

.input-container button {
    padding: 5px 10px;
}

input[type="text"] {
    flex-grow: 1;
    border-radius: 4px;
    margin-right: 8px;
    border-color: #8b6c42;
}

.bot-messages div {
    margin-bottom: 4px;
}

.button-panier {
    position: relative;
    height: 30px;
    font-weight: bold;
    border-radius: 5%;
    color: white;
    border: none;
    background-color: #8b6c42;
}
.button-panier:hover {
    color: black;
    background-color: #ffffccca;
}

.button-send {
    position: relative;
    height: 30px;
    font-weight: bold;
    border-radius: 5%;
    color: white;
    border: none;
    background-color: #8b6c42;
}

.button-send:hover {
    color: black;
    background-color: #ffffccca;
}

.cart-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffccca;
    border: 1px solid black;
    padding: 20px;
    z-index: 999;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

h3 {
    text-align: center;
}

.commands-list {
    position: absolute;
    width: 30%;
    height: auto;
    margin: 0px 30px 30px 30px;
    text-align: left;
    background-color: beige;
    border-radius: 3%;
}

.commandes-dispo {
    padding: 0;
    margin: 30px;
    list-style: none;
}

.commandes-dispo li {
    padding-bottom: 10px;
}

.add-to-cart-btn {
    background-color: #ffffccca;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}