@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container {
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3%;
    background-color: #0033cc8f;
    font-family: "Open Sans";
}

.logo {
    position: absolute;
    height: auto;
    width: 100px;
    left: 0;
}

.messages {
    position: relative;
    height: 520px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.634);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0033cc8f;
    border-radius: 10px;
}

.message-list {
    position: relative;
    padding: 0;
    list-style: none;
}

.user {
    padding: 4px;
    max-width: fit-content;
    margin: 5px 5px 5px auto;
    color: white;
    background-color: #0033cc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: end;
}

.bot {
    margin: 8px;
    text-align: left;
    color: white;
    font-weight: 300;
}

.input-container {
    display: flex;
    border-top: 1px solid #ffffccca;
    padding: 5px;
}

.input-container input {
    flex-grow: 1;
    padding: 5px;
    border: none;
}

.input-container button {
    padding: 5px 10px;
}

input[type="text"] {
    flex-grow: 1;
    border-radius: 4px;
    margin-right: 8px;
    border-color: #0033cc;
}

button {
    font-size: 14px;
    background-color: #0033cc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

button:hover {
    background-color: white;
    color: #000000;
    border: none;
    border-radius: 2px;
}

.message-time {
    font-size: 12px;
    color: #888;
}

.bot-messages div {
    margin-bottom: 4px;
}

.button-panier {
    position: relative;
    height: 30px;
    font-weight: bold;
    border-radius: 5%;
    color: white;
    background-color: #0033cc;
}

.button-panier:hover {
    color: #0033cc;
    background-color: white;
    border: 5px #0033cc;
}

.button-send {
    position: relative;
    height: 30px;
    font-weight: bold;
    border-radius: 5%;
    color: white;
    border: none;
    background-color: #0033cc;
}

.button-send:hover {
    color: #0033cc;
    background-color: white;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

h3, h4 {
    text-align: center;
}

.commands-list {
    position: relative;
    width: 30%;
    height: auto;
    margin: 0px 30px 30px 30px;
    text-align: left;
    background-color: #0033cc8f;
    border-radius: 3%;
    color: white;
}

.commandes-dispo {
    padding: 0;
    margin: 30px;
    list-style: none;
}

.commandes-dispo li {
    padding-bottom: 10px;
}

.commands-in-list {
    padding-bottom: 10px;
}

.cart-list {
    position: relative;
    width: 30%;
    height: auto;
    margin: 0px 30px 30px 30px;
    text-align: left;
    background-color: #0033cc8f;
    border-radius: 3%;
    color: white;
}

.cart-dispo {
    list-style: none;
}

.sneaker-in-cart {
    padding-bottom: 10px;
}

.add-to-cart-btn {
    background-color: #0033cc;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}